@page
@model FinalWebProject.Pages.Admin.ManufacturerManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer[0].ManufacturerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer[0].ManufacturerYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Manufacturer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerYear)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ManufacturerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ManufacturerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ManufacturerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-page = "../Index" class = "btn btn-danger mt-4">Go Back</a>
